# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/*.xcworkspace/

*.xcodeproj/*.xcworkspace/*
!*.xcodeproj/*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/*.xcworkspace/xcshareddata/

*.xcodeproj/*.xcworkspace/xcshareddata/*
!*.xcodeproj/*.xcworkspace/xcshareddata/swiftpm/

# Other
.DS_Store

# Zed
.zed

# Xcode-Build-Server
buildServer.json
