//
//  Aidoku.xcconfig
//  Aidoku
//
//  Created by Nikolai Schumacher on 17.05.25.
//

// base identifiers
APP_ID_PREFIX               = app.aidoku
APP_ID_SUFFIX               = Aidoku

PRODUCT_BUNDLE_IDENTIFIER   = $(APP_ID_PREFIX).$(APP_ID_SUFFIX)

// ----- iCloud / CloudKit -----
ICLOUD_CONTAINER_ID         = iCloud.$(PRODUCT_BUNDLE_IDENTIFIER)
UBIQUITY_KVSTORE_ID         = $(TeamIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)

// Store build
// Dev / sideload build (leave flag 'CANONICAL_BUILD' undefined)
OTHER_SWIFT_FLAGS = $(inherited) -DCANONICAL_BUILD
